.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 166px);
}

.container a {
	color: var(--yellow-dark);
}

.container a:hover {
	color: var(--orange-dark);
}

@media (prefers-color-scheme: light) {
	.container a {
		color: var(--yellow-light);
	}

	.container a:hover {
		color: var(--orange-light);
	}
}
