@font-face {
	font-family: runescape;
	src: url('assets/fonts/runescape.ttf') format('truetype');
}

@font-face {
	font-family: runescape-bold;
	src: url('assets/fonts/runescape_bold.ttf') format('truetype');
}

@font-face {
	font-family: runescape-small;
	src: url('assets/fonts/runescape_small.ttf') format('truetype');
}

:root {
	--bg-dark: #1e1e2e;
	--bg-light: #eff1f5;

	--text-dark: #cdd6f4;
	--text-light: #4c4f69;

	--accent-opacity: 0.75;

	--accent-dark: #181825;
	--accent-dark-r: 24;
	--accent-dark-g: 24;
	--accent-dark-b: 37;

	--accent-light: #ccd0da;
	--accent-light-r: 49;
	--accent-light-g: 50;
	--accent-light-b: 68;

	--yellow-dark: #f9e2af;
	--orange-dark: #fab387;

	--yellow-light: #df8e1d;
	--orange-light: #fe640b;

	font-family: runescape, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--text-dark);
	background-color: var(--bg-dark);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--text-light);
		background-color: var(--bg-light);
	}
}
